<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/vendor/bootstrap.min.css"/>
    <script src="/vendor/angular.min.js"></script>
    <script src="/app.js"></script>
    <title>Index</title>
  </head>

  <body ng-app="myApp" ng-controller="HomeCtrl">
    <div class="container">
      <h2>Data Synchronizer</h2>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-btn">
            <button id="loader" type="submit" ng-click="loadRows(fromServer)" class="btn btn-primary">Click to reload from</button>
          </div>
          <input type="text" ng-model="fromServer" class="form-control">
          <span class="input-group-addon">
            Page <input type="text" ng-model="pager.currentPage" style="width:40px"/>
          </span>
          <div class="input-group-addon">
            <input type="text" ng-model="pager.perPage" style="width:40px"/> per page
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            To
          </span>
          <input type="text" ng-model="toServer" class="form-control">
          <span class="input-group-addon"><em>(must support REST API calls: GET, POST, UPDATE, DELETE)</em></span>
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="pager">
        <li><a href="" ng-click="previousPage(fromServer, pager)">Previous</a></li>
        <li>
          Page {{pager.currentPage}} with <input type="number" ng-model="pager.perPage" style="width:40px"/> per page

        </li>
        <li><a href="" ng-click="nextPage(fromServer, pager)">Next</a></li>
      </ul>
      <button ng-click="deleteExistingItems(toServer, items)" class="btn btn-sm btn-default">
        Delete All <span class="badge badge-important">{{countOfExisting}}</span>
      </button>
      <button ng-click="saveNewItems(toServer, items)" class="btn btn-sm btn-default">
        Save All <span class="badge badge-info">{{countOfNew}}</span>
      </button>
      <strong>{{loadingMessage}}</strong>
      <h5>Displaying {{currentPageInfo}} out of {{total}}.</h5>
    </div>
    <table border="0" class="table table-striped table-bordered">
      <thead>
        <tr class="info">
          <th>URI</th>
          <th>User</th>
          <th>Text</th>
          <th>Consumer</th>
          <th>Quote</th>
          <th>Id</th>
          <th>Action</th>
          <th ng-if="debug">debug</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td>{{item.uri}}</td>
          <td>{{item.user}}</td>
          <td>{{item.text}}</td>
          <td>{{item.consumer}}</td>
          <td>{{item.quote}}</td>
          <td><a ng-href="{{itemUrl(fromServer, item)}}" target="_blank">{{item.id}}</a></td>
          <td>
            <button ng-show="item.exist" ng-click="deleteItemFromDest(toServer, item)" class="btn-xs btn btn-danger">Delete</button>
            <button ng-show="!item.exist" ng-click="saveItemToDest(toServer, item)" class="btn-xs btn btn-default">Save</button>
          </td>
          <td ng-if="debug"><textarea>{{item}}</textarea></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
